/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  margin-top: -1px;
  text-align: center;
  color: #fff;
  padding: 25px 0;
  padding-top: 0;
  background: #666;
}

.hero_contet {
  flex-direction: column;
}

.nav-link {
  color: #264f0e;
}

.bottom_container {
  flex-direction: column;
  border-bottom: 1px solid #fff;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.cookie_container {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 0px 2000px inset;
  color: white;
  height: 400px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;

  background-image: url(../img/google_map_placeholder.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.uber_text_container {
  text-align: start;
}

@media (min-width: 480px) {
  .col-md-4 {
    width: 50% !important;
  }
}
@media (min-width: 768px) {
  .col-md-4 {
    width: 33.333% !important;
  }
}
@media (min-width: 1024px) {
  .col-md-4 {
    width: 25% !important;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 920px;
  }
}

.activ {
  opacity: 0.15;
}

.hiden {
  display: none;
  @media (min-width: 991px) {
    display: flex;
    font-family: 'Bad Script', cursive, 'google';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
  }
}

.hofwirt_img {
  margin-bottom: 20px;
}

.obstbauer_img {
  margin-bottom: 20px;
}

.universal_container {
  @media (min-width: 1024px) {
    display: flex;
  }
}
.obstbauer_container_text {
  @media (min-width: 1024px) {
    width: 59%;
  }
}

.obstbauer_container_img {
  @media (min-width: 1024px) {
    width: 40%;
  }
}

.hofwirt_obstbauer_container {
  display: block;
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.hero_part {
  font-size: 22px;
  color: #68a94a;
  font-family: 'Bad Script', cursive, 'google';
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin-bottom: 10px;
}

.hero_title {
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  color: #000;
  font-family: 'Bad Script', cursive, 'google';
  text-transform: none;
  text-align: center;
}

.hofwirt_text_container {
  font-family: 'Abel', sans-serif, 'google' !important;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.hofwirt_text {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.hero_bottom_container {
  font-size: 36px;
}

.blog_title {
  font-family: 'Roboto Slab', serif;
  color: #d5ceaf;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.offnungszeiten_text {
  padding-left: 30px;
  font-size: 16px;
}

.blog_container_content {
  padding: 10px;
  margin-bottom: 10px;
  @media (min-width: 991px) {
    width: 33.3%;
  }
}
.footer_facebook_link {
  height: 100%;
  background-color: #4267b2;
  color: #fff;
  padding: 5px;
  display: block;
  margin-bottom: 20px !important;
  border-radius: 5px;
}

.footer_container_link {
  display: block;
  @media (min-width: 991px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 991px) {
    flex-direction: row;
    align-items: start;
  }
}

.nav_font {
  font-family: 'Bad Script', cursive, google;
  font-size: 16px !important;
  font-style: normal !important;
}

.Was_title {
  font-family: 'Bad Script', cursive, 'google';
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #68a94a;
}
.privacy_title {
  font-family: 'Roboto Slab', serif, 'google';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: none;
  color: #367714;
}
@media screen and (min-width: 768px) {
  .privacy_title {
    font-size: 45px;
  }
}

.sitemap_title {
  font-family: 'Roboto Slab', serif, 'google';
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  text-transform: none;
  color: #367714;
}

/* Booking Modal */
#stickyBtn {
  position: fixed;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  font-family: 'Bad Script', cursive, google;
  font-size: 16px !important;
  font-style: normal !important;
  border-radius: 4px;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  padding-top: 0;
  width: 90%;
  max-width: 900px;
}

#foodPrice,
#drinkPrice {
  max-height: 450px;
  overflow-y: auto;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  margin-right: -15px;
}

.vertical-text-btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  writing-mode: vertical-lr;
  text-orientation: upright;
  background-color: #68a94a;
  color: white;
  padding: 10px 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vertical-text-btn:hover {
  background-color: #45a049;
}
/* Booking Modal */

/* Cookie-Richtlinie */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.5);
}
.cookieRichtlinie {
  text-align: justify;
  display: none;
  color: rgb(105, 108, 118);
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: #fff;
  max-width: 360px;
  padding: 16px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  z-index: 9991;
  border-radius: 4px;
}

.cookieRichtlinie_title {
  color: rgb(105, 108, 118);
  font-size: 24px;
  font-weight: 700;
}

.cookieRichtlinie_btn {
  cursor: pointer;
  border-radius: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 12px;
  border: solid 2px #cacedb;
  background-color: #fff;
  color: #696c76;
  text-overflow: ellipsis;
  margin-top: 50px;
  color: #fff;
  background-color: rgb(27, 169, 225);
  border-bottom-color: rgb(202, 206, 219);
}

.cookie_btn {
  background: transparent;
  border: none;
  border-left: 2px solid#bababa;
}
/* Cookie-Richtlinie */

/* fmb */
.first_modal_btn {
  background-color: rgb(70, 160, 73);
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  border-radius: 4px;
  float: inherit;
  margin-bottom: -3px;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .first_modal_btn {
    font-size: 16px;
  }
}
.first_modal_btn:hover {
  background-color: rgb(103, 169, 74);
  /* background-color: #00ff00; */
}

.prodinfo img {
  display: none;
}
.prodtable {
  width: 100%;
  margin: 0 auto;
  max-height: 500px;
  overflow-y: auto;
}
.prodprice {
  text-align: end;
  padding-right: 15px;
}

.hidden {
  display: none;
}
.btn_wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}
#foodBtn {
  margin-right: 10px;
}

/* NOTIF */
#stickyNotification {
  opacity: 0.8;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #00ff00;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.5s ease;
}
#stickyNotification.busy {
  background-color: #ffcc00;
}
#stickyNotification.full {
  background-color: #ff0000;
}
#loadingPlaceholder {
  height: 2000px;
}
th:nth-child(2) {
  text-align: end;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .prodtable {
    font-size: 12px;
  }
}
/* NOTIF END */

.btn_wrapper {
  position: sticky;
  top: 44px;
}
